.avatar-uploader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.ant-upload-select {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ant-skeleton,
.ant-skeleton-image {
    width: 100% !important;
    height: 100% !important;
}

.ant-image.css-dev-only-do-not-override-1uq9j6g {
    width: 100% !important;
    height: 100% !important;
}