@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
    0% {
        transform: translateX(0%);
        display: inline-block;
    }

    50% {
        transform: translateX(-100%);
        display: none;
    }

    50.000000000001% {
        transform: translate(110px);
        display: inline-block;
    }

    100% {
        transform: translateX(0%);
        display: inline-block;
    }
}

.marquee-text {
    @apply inline-block whitespace-nowrap;
    animation: marquee 10s linear infinite;
    display: flex;
    flex-direction: row;
    background: transparent;
}

.marquee-text-paused {
    animation-play-state: paused;
}