.header {
    text-align: center;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
}

.header-title {
    font-size: 54px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.header-subtitle {
    font-size: 32px;
    color: #666;
    margin: auto auto 0 auto;
    border-bottom: 1px solid #666;
    padding-bottom: 50px;
}